
.vs/listview/v16/.suo
listview.v12.suo
listview/bin/Debug/listview.exe
listview/bin/Debug/listview.pdb
listview/bin/Debug/listview.vshost.exe
listview/bin/Debug/listview.vshost.exe.config
listview/bin/Debug/listview.vshost.exe.manifest
.vs/listview/v16/.suo
listview/bin/Debug/listview.exe
listview/bin/Debug/listview.pdb
*.cs
listview/obj/Debug/listview.pdb
listview/obj/Debug/listview.exe
listview/obj/Debug/listview.csprojAssemblyReference.cache
listview/obj/Debug/listview.csproj.GenerateResource.cache
listview/obj/Debug/listview.csproj.FileListAbsolute.txt
listview/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
listview/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
.vs/listview/v16/.suo
listview/bin/Debug/listview.exe
listview/bin/Debug/listview.pdb
